:root {
  --header-bg-color: #efefef;
  --header-hover-bg-color: #eaeaea;
  --body-row-bg-color: #f9f9f9;
  --border-color: #dddddd;
  --search-border-color: #cccccc;
  --button-hover-bg-color: #e0e0e0;
  --button-bg-color: #f0f0f0;
}